<!-- notice [] wrapper, nest routes -->
<%= form_for([@article, @user.articles.comments.build]) do |f| %>
<%#= form_for @article, url: new_user_article_comment_path do |f| %>
    <p>
      <!-- TODO the naming rules -->
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>