<% if user_signed_in? %>
    Welcome <%= link_to "#{current_user.email}", admin_root_path %> !
<% else %>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>

<br>
<br>

Users:

<br>
<br>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td><%= link_to image_tag(user.avatar.url(:thumb)), frontend_user_path(user) %></td>
      </tr>
  <% end %>

</table>
