<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', user_article_path(@user, article) %></td>
    <td><%= link_to 'Edit', edit_user_article_path(@user, article) %></td>
    <td><%= link_to 'Destroy', user_article_path(@user, article),
                    method: :delete, data: { confirm: 'Are you sure?'} %></td>

  </tr>

</table>