<h1><%= @user.email %></h1>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email:<%= @user.email %></li>
</ul>


<br>
<br>

<ul>
  <% @articles != nil && @articles.each do |article| %>
      <li><%= link_to article.title, user_article_path(article) %></li>
      <li><%= article.text%></li>
  <% end %>
</ul>

<h2>Add an article</h2>
<%= render "articles/form" %>
