<h1><%= @user.email %></h1>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email:<%= @user.email %></li>
</ul>


<br>
<br>

<h2>Articles</h2>
<table>
  <tr>
    <th><strong>Title</strong></th>
    <th><strong>Content</strong></th>
  </tr>
  <%= render @articles %>
</table>

<h2>Add an article</h2>
<%= render "articles/form" %>
