<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--<br><br><br><br>-->
<!--TODO how redirect to user_path after created article?-->
<!--<h2>Add an article</h2>-->
<!--<%#= render "articles/form" %>-->

<h2>User's articles</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
    <%= render @user.articles %>
</table>

<br><br><br><br>
TODO how redirect to user_path after created article?
<h2>Add an article</h2>
<%= render "articles/form" %>

<%= link_to 'Back', users_path %>
| <%= link_to 'Edit', edit_user_path(@user) %>