<h1><%= @user.email %></h1>

<%= link_to "Update Profile", edit_user_registration_path(@user) %>

<br>
<br>

Photos:
<% @photos.each do |photo| %>
    <br>
    <%= image_tag(photo.image.url(:thumb))%>
    <br>
<% end %>

<br>
<br>

<h2>Articles</h2>
<table>
  <tr>
    <th><strong>Title</strong></th>
    <th><strong>Content</strong></th>
  </tr>
  <%= render @posts %>
</table>

<h2>Add an Post</h2>
<%= render "posts/form" %>

<h2>Upload photo</h2>

<% @photo ||= @user.photos.build %>
<%= form_for [@user, @photo], :html => { :multipart => true } do |f| %>

    <p>
      <%= f.label :image %> <br>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.submit "Upload" %>
    </p>

<% end %>