<% if user_signed_in? %>

    222 Welcome <%= current_user.email %> !

    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
    <br>

<% else %>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>

<br>
<br>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
      </tr>
  <% end %>

</table>
